# Игнорировать виртуальные окружения Python
.venv/
venv/

# Игнорировать файлы настроек IDE
.vscode/
.idea/

# Игнорировать скомпилированные файлы Python
__pycache__/
*.pyc

# Игнорировать файлы с секретами или локальные настройки
secret_config.yaml
local_settings.json